.avatar{
   width: calc(3rem);   /*border + outline*/
   height: calc(3rem);
   border-radius: 8px;

}

.avatarWithBorder{
    /*You can use box-sizing: initial without calc function*/
   width: calc(3rem + 12px);   /*border + outline*/
   height: calc(3rem + 12px);
   border-radius: 8px;
   border: 4px solid var(--gray-800);
   outline: 2px solid var(--green-500);
}